.single,
.double {
    height: 50px;
    font-size: 25px;
}

.single {
    width: 80px;
}

.double {
    width: 164px;
}

.row {
    margin: 5px;
}

#calculator {
    margin-top: 150px;
    display: inline-block;
    background-color: rgb(187, 187, 187);
}

body {
    text-align: center;
}

#screen {
    background-color: white;
    margin: 8px 6px;
    height: 64x;
}

#screen,
#calculator {
    border: 5px solid rgb(172, 171, 171);
    border-radius: 5px;
}
#screen p {
    font-family: 'digital-clock-font';
    margin-top: 2px;
    margin-bottom: -8px;
    margin-left: 2px;
    font-size: 80px;
    text-align: right;
}

@font-face{
    font-family:'digital-clock-font';
    src: url('./fonts/digital-7/digital-7.ttf');
   }
   